/* PHASE 4: Footer */

.footer {
margin: auto;
width: 900px;
background-color: white;
color: #ccc;
}

.footer-copy {
  float:left;
  padding: 20px;
}

.footer-links {
padding: 20px;
float: right;

}

.footer-links > li {

float:left;
padding-left: 10px;

}

.footer a {

}

.footer a:hover {
  color:black;
}
